.australia-pic
{
    position: relative;

    float: left;

    width: 45vw;
    height: 800px;
    margin-top: 40px;
    margin-left: 250px;

    background-image: url('/assets/images/australia.png');
    background-repeat: no-repeat;
    background-size: contain;
}
/* .australia-pic img{
    width: 80%;

} */
.sidebar
{
    float: right;

    width: 30vw;
    height: 100vh;

    background-color: cadetblue;
}

.sidebar h1
{
    text-align: center;
}

canvas{
    width: 130%;
    height: 130%;
}
canbas p{
    color:black;
}

.australia-pic button
{
    font-size: 16px;

    position: relative;

    display: inline-block;

    padding: 10px;

    text-align: center;
    text-decoration: none;

    border-width: 4px;
    border-color: white;
    border-radius: 100%;
    outline: 0;
    background-color: black;
}

.perth
{
    top: 64%;
    left: 7.5%;
}

.adelaide
{
    top: 70%;
    left: 56.5%;
}

.melbourne
{
    top: 80%;
    left: 67.7%;
}

.hobart
{
    top: 95%;
    left: 68.3%;
}

.sydney
{
    top: 70.5%;
    left: 75.7%;
}

.canberra
{
    top: 73.5%;
    left: 67.8%;
}

.brisbane
{
    top: 51%;
    left: 77%;
}

.darwin
{
    top: 2.5%;
    left: 19%;
}
