<!--The content below is only a placeholder and can be replaced.-->
<div class="title" style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
</div>
<div class="australia-pic">

  <button class="perth" (click)="displayDetails('Perth')"></button>
  <button class="adelaide" (click)="displayDetails('Adelaide')"></button>
  <button class="melbourne" (click)="displayDetails('Melbourne')"></button>
  <button class="hobart" (click)="displayDetails('Hobart')"></button>
  <button class="sydney" (click)="displayDetails('Sydney')"></button>
  <button class="canberra" (click)="displayDetails('Canberra')"></button>
  <button class="brisbane" (click)="displayDetails('Brisbane')"></button>
  <button class="darwin" (click)="displayDetails('Darwin')"></button>
</div>

<div class="sidebar">
  <div *ngIf="cityName">
    <h1>{{cityName}}</h1>
    <!-- <p>General Discussion: {{generalDiscussion}}</p>
    <p>Transport: {{transport}}</p>
    <p>Nature: {{nature}}</p>
    <p>History: {{history}}</p>
    <p>Other: {{other}}</p>
    <p>Questions: {{questions}}</p>
    <p>Food: {{food}}</p>
    <p>Photos: {{photos}}</p>
    <p>News: {{news}}</p>
    <p>Entertainment: {{entertainment}}</p>
    <p>Education: {{education}}</p>
    <p>Memes: {{memes}}</p>
    <p>Total: {{total}}</p> -->

    <div style="display: block">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieColors" [options]="pieChartOptions" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

</div>